
<main class="main">
	<div class="container-fluid">
		<div class="row row--grid">
			<div class="col-12">
				<div class="article article--page">
					<!-- article content -->
					<div class="article__content">
						<div class="article__artist">
							<img src="/img/covers/2A447dCFm2.jpeg" alt="">
							<div>
								<h1>V $ X V PRiNCE</h1>
								<p>
									Асхаттың тәрбиесі Алматы қаласындағы дәстүрлі отбасында өтті. Ол жастайынан рэп және хип-хоп әндеріне әуестенді, өйткені бұл музыкалық стильдер Қазақстанда әсіресе танымал болды.

									Оқу барысында дәптер мен кітаптар оның өмірдегі айнымас серігіне айналмайтынын түсінді. Асхат өмірін музыкаға арнауды жоспарлай бастады.

									Алғашқы танымал тректі суретші 2015 жылы "#selfmade" деген атпен шығарды.

									2015 жылдан бері VERNY тобын ұйымдастырып келеді. Дәл осы музыкалық топ жігітке тек өз елінде ғана емес, сонымен қатар шетелде де танымал болды. Қазақ шоу-бизнесіне келетін болсақ, Асхат ерекше назар аударды, сонымен қатар еліміздің музыкалық хит-парадтарында жақсы орын алды.
								</p>
							</div>
						</div>

						<p>Aсхаттың тәрбиесі Алматы қаласындағы дәстүрлі отбасында өтті. Ол жастайынан рэп және хип-хоп әндеріне әуестенді, өйткені бұл музыкалық стильдер Қазақстанда әсіресе танымал болды.</p>

						<p>Aсхаттың тәрбиесі Алматы қаласындағы дәстүрлі отбасында өтті. Ол жастайынан рэп және хип-хоп әндеріне әуестенді, өйткені бұл музыкалық стильдер Қазақстанда әсіресе танымал болды.</p>

						<ul>
							<li>NOVЫЙ (Intro)</li>
							<li>Жүрегімді</li>
							<li>Керек Емессің</li>
							<li>Дом 50</li>
							<li>Мародёры</li>
						</ul>

					</div>
					<!-- end article content -->
				</div>
			</div>
		</div>
	</div>
</main>