
<main class="main">
	<div class="container-fluid">
		<div class="row row--grid">
			<!-- breadcrumb -->
			<div class="col-12">
				<ul class="breadcrumb breadcrumb--hidden-desk">
					<li class="breadcrumb__item"><a asp-area="" asp-controller="Home" asp-action="Index">Басты бет</a></li>
					<li class="breadcrumb__item"><a asp-area="" asp-controller="Home" asp-action="News">Жаңалықтар</a></li>
					<li class="breadcrumb__item breadcrumb__item--active">Мақала</li>
				</ul>
			</div>
			<!-- end breadcrumb -->

			<div class="col-12 col-xl-10 offset-xl-1">
				<div class="article">
					<!-- article content -->
					<div class="article__content">
						<img src="/img/posts/1.jpg" alt="">

						<div class="article__meta">
							<span class="article__date"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,2A10,10,0,1,0,22,12,10.01114,10.01114,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,12,20ZM14.09814,9.63379,13,10.26807V7a1,1,0,0,0-2,0v5a1.00025,1.00025,0,0,0,1.5.86621l2.59814-1.5a1.00016,1.00016,0,1,0-1-1.73242Z" /></svg> 09.05.2023, 16:37</span>
						</div>

						<h1>Қазақстандық әнші Джах Халиб Ресейдегі концерттерін тоқтату туралы үндеулерге жауап берді</h1>

						<p>Бұған дейін Мемлекеттік дума депутаттары Яна Лантратова мен Виталий Милонов әншінің әлеуметтік желідегі жазбасынан мысал келтіріп, "Украина қарулы күштерін ашық қолдағаны" үшін оның концерттерін өткізбеуге шақырған болатын. Ал рэпердің сөзінше, кейінгі кезде дау туғызған бұл жазбасы бір жыл бұрын жазылған.</p>

						<h2>Алматылықтар Darkhan Juzz-бен қоштасты</h2>

						<p>Алматылықтар Арбатқа күн батқан соң жинала бастады. Darkhan Juzz-дің қазасы оның жанкүйерлерін есеңгіріп тастады.</p>

						<h3>Аты аңызға айналған Бибігүл Төлегенованың туған күні</h3>

						<p>Бибігүл Ахметқызы өзінің 70 жылдан аса шығармашылық жолында жүздеген опералық партияларды орындап, "Дала қызы", "Біздің сүйікті дәрігер", "Бұл Шұғылада болған", "Тақиялы періште" фильмдерінде өзіндік бейнелер жасаған, ал аты аңызға айналған әншінің орындауындағы ұмытылмас "Бұлбұл" айтуы дүние жүзіндегі өнер сүйер қауымның есінен мәңгі шықпас. Бүгінгі таңда ондаған өнерпаздың дамуына жаңа серпі және әлемдік аренаға жолдама берген Бибігүл Төлегенова атындағы вокалистер 11 Халықаралық байқауы өткен. Сонымен қатар, бір емес, бірнеше ұрпақ Бибігүл Ахметқызының бойындағы дарындылығына, еңбекқорлығына, табиғи сұлулығына ғана емес, шексіз мейірімділігіне, инабаттылығына, отанға деген сүйіспеншілігіне тамсанады.</p>

						<h4>Төреғали Төреәлі 10 миллион теңге кепіл төлеп босатылады</h4>

						<p>Әнші Төреғали Төреәлі 10 миллион теңге кепіл төлеп, қамаудан босатылады, - деп хабарлайды Tengrinews.kz тілшісі.</p>

						<h5>Төреғали Төреәлі ұсталды</h5>


						<p>
							"Бүгін, 30 қыркүйекте күдікті ҚР Қылмыстық-процестік кодексінің 128-бабына сәйкес ұсталып, уақытша ұстау изоляторына қамалды.

							Тергеу істі дұрыс шешу үшін қажетті және жеткілікті мән-жайларды жан-жақты, толық және объектив зерттеу үшін заңда көзделген барлық шараны қабылдайды", - деп жазды Әбдірахманов.
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
</main>